rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function adminDocExists() {
      return signedIn() &&
        firestore.exists(/databases/(default)/documents/users/$(request.auth.uid));
    }

    function isAdmin() {
      return adminDocExists() &&
        firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /complaint_images/{userId}/{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn() && (request.auth.uid == userId || isAdmin());
    }
  }
}